# Python Crash Course

In [1]:
# Use Python as a calculator

In [2]:
 1 + 1

2

In [3]:
 1 + 1998

1999

In [4]:
1000 - 876

124

In [5]:
144 / 12

12.0

In [6]:
189/25

7.56

In [7]:
76 * 54

4104

In [8]:
61 * 21

1281

In [11]:
200 % 19

10

In [10]:
20 * 10

200

In [ ]:
# Variable Assignment

In [12]:
x = 23

In [14]:
print(x)

23

In [15]:
y = 'Hello world'

In [16]:
y

'Hello world'

In [17]:
a = b = c = 1

In [18]:
c

1

In [19]:
b

1

In [20]:
a

1

In [21]:
a,b,c = 1,2,'USA'

In [22]:
c

'USA'

In [23]:
b

2

In [24]:
a

1

In [25]:
# Strings

In [41]:
str = 'hello Universe!'

In [27]:
print(str)

Hello Universe!

In [28]:
str = "Hello Universe!"

In [29]:
print(str)

Hello Universe!

In [30]:
str1 = "don't"

In [31]:
print(str1)

don't

In [32]:
str

'Hello Universe!'

In [33]:
str[4]

'o'

In [34]:
str[3:8]

'lo Un'

In [35]:
str[3:]

'lo Universe!'

In [37]:
str * 2

'Hello Universe!Hello Universe!'

In [39]:
str + ' '  + "its my solar system"

'Hello Universe! its my solar system'

In [42]:
str.capitalize()

'Hello universe!'

In [43]:
str.endswith('!')

True

In [44]:
str.endswith('o')

False

In [45]:
str.islower()

False

In [48]:
str.startswith('h')

True

In [49]:
str.startswith('u')

False

In [51]:
str = ' hello universe! '

In [52]:
str.strip()

'hello universe!'

In [54]:
str.rstrip()

' hello universe!'

In [53]:
str.lstrip()

'hello universe! '

In [55]:
str.upper()

' HELLO UNIVERSE! '

In [56]:
email = 'myemail@gmail.com'

In [59]:
email.split('@')

['myemail', 'gmail.com']

In [62]:
str.find('o')

5

In [63]:
# LISTS

In [70]:
list = ['abcd',764, 2.23,'john', 70.2,['hello','world',77,[1,3]]]

In [65]:
list

['abcd', 764, 2.23, 'john', 70.2]

In [66]:
list[0]

'abcd'

In [67]:
list[0][2]

'c'

In [68]:
list[3][2]

'h'

In [69]:
list[1:3]

[764, 2.23]

In [84]:
list

['abcd', 764, 2.23, 'john', 70.2, ['hello', 'world', 77, [1, 3]]]

In [75]:
list[5][3][1]

3

In [81]:
list[5][1][2]

'r'

In [85]:
list[2] = 'india'

In [86]:
list

['abcd', 764, 'india', 'john', 70.2, ['hello', 'world', 77, [1, 3]]]

In [87]:
# Tuples

In [88]:
tuple = ('abcd',786,2.23,'john')

In [89]:
tuple[0]

'abcd'

In [90]:
tuple[3][2]

'h'

In [91]:
tuple[2] = 'UK'

TypeError: 'tuple' object does not support item assignment

In [92]:
# Dictionary

In [93]:
dict = { }

In [94]:
dict['one'] = ' This is one'

In [95]:
dict[2] = 'This is two'

In [96]:
dict['one']

' This is one'

In [97]:
dict[2]

'This is two'

In [98]:
dict.keys()

dict_keys(['one', 2])

In [99]:
dict.values()

dict_values([' This is one', 'This is two'])

In [ ]:
{
    'key1':'value1',
    'key2':'value2'
    

}

In [100]:
# Comparison Operators

In [107]:
a == 1

True

In [108]:
a == 99

False

In [109]:
b == a

False

In [110]:
b

2

In [111]:
a != b

True

In [112]:
a > b

False

In [113]:
a < b

True

In [114]:
## Loops

In [115]:
# if elif else

In [121]:
if 10 > 11:
    print('yes')
else:
    print('no')

no

In [122]:
if a == 2:
    print('first')
elif b == 2:
    print('middle')
else:
    print('last')

middle

In [123]:
if a == 2:
    print('first')
elif b == 20:
    print('middle')
else:
    print('last')

last

In [124]:
## For Loop

In [125]:
seq = [1,2,3,4,5]

In [126]:
for x in seq:
    print(x)

1
2
3
4
5

In [127]:
## while Loop

In [131]:
i = 10

In [132]:
while i > 2:
    print(i)
    i = i-1

10
9
8
7
6
5
4
3

In [133]:
## Custom Functions

In [134]:
def times3(x):
    return x * x * x

In [135]:
times3(9)

729

In [136]:
times3(101)

1030301

In [137]:
## Logic Operators

In [138]:
(1 > 2) and (2 < 3)

False

In [139]:
(1 > 2) or (2 < 3)

True

In [141]:
(1 == 2) and (3 == 3) and ( 4 == 6)

False